$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$body-bg: #f5f5f5;
$screen-sm: 640px;
$container-sm: $screen-sm;
$grid-float-breakpoint: 9999999px;
$font-size-base: 16px;
$navbar-height: 60px;
$navbar-inverse-bg: #222533;
$navbar-inverse-toggle-hover-bg: lighten($navbar-inverse-bg, 6%);
$navbar-inverse-toggle-icon-bar-bg: lighten($navbar-inverse-bg, 50%);
$navbar-inverse-toggle-border-color: lighten($navbar-inverse-bg, 20%);

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    position: relative;
    > .giosg-background {
        z-index: 0;
    }
    > .navbar, > .container {
        position: relative;
        z-index: 1;
    }
}

.giosg-logo {
    max-width: 90%;
    margin: 20px auto 0px;
}

.giosg-background {
    position: absolute;
    right: -20px; bottom: 20px;
    top: 20px; left: -20px;
    background: url('../images/giosg.png') no-repeat right bottom;
    background-size: contain;
    opacity: 0.25;
}

.btn-lg-circle {
    $border-size: 8px;
    display: block;
    width: 200px;
    height: 200px;
    margin: 24px auto;
    font-size: 38px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border-width: $border-size;
    position: relative;

    &:focus {
        outline: none;
    }
    &.numeric {
        font-size: 60px;
    }
    &.small {
        font-size: 16px;
    }

    .btn-badge {
        $size: 80px;
        font-size: 38px;
        font-weight: bold;
        background: $brand-danger;
        border: $border-size solid darken($brand-danger, 10%);
        width: $size;
        height: $size;
        line-height: $size - $border-size * 2;
        display: block;
        position: absolute;
        right: -16px;
        top: -16px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: -2px 2px 6px rgba(0,0,0,0.15);
    }
}

.btn-attention {
    @extend .btn-danger;
    animation: pulse-animation 1000ms ease infinite;
    -webkit-animation: pulse-animation 1000ms ease infinite;
}

.navbar {
    margin: 0;
    z-index: 1;
    .back-icon {
        font-size: 75%;
        margin-right: 0.3em;
    }
}

@mixin toggleable-vertical-gradient($bg-color, $contrast) {
    background-color: $bg-color;
    @if ($contrast < 0) {
        background-image: -webkit-linear-gradient(top, darken($bg-color, -$contrast), lighten($bg-color, -$contrast));
        background-image:         linear-gradient(to bottom, darken($bg-color, -$contrast), lighten($bg-color, -$contrast));
    } @else {
        background-image: -webkit-linear-gradient(top, lighten($bg-color, $contrast), darken($bg-color, $contrast));
        background-image:         linear-gradient(to bottom, lighten($bg-color, $contrast), darken($bg-color, $contrast));
    }
}

.main-tabs {
    @extend .nav-tabs;
    @extend .nav-justified;
    @extend .nav-tabs-justified;
    > li {
        display: table-cell;
        width: 1%;
        background-color: darken($body-bg, 7%);
        &, & > a {
            border-radius: 0 !important;
        }
        > a {
            margin-bottom: 0;
            border-bottom: 1px solid $nav-tabs-justified-link-border-color;
        }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: $nav-tabs-justified-active-link-border-color;
    }
    .badge {
        background-color: $brand-danger;
    }
}
.main-tab-pane {
    padding: 15px 0;
}

.container.chat-container {
    position: absolute;
    top: $navbar-height;
    left: 0; right: 0;
    bottom: 0;
    padding: 15px;
    z-index: 0;
}
.layout-container {
    display: table;
    width: 100%;
    height: 100%;
}
.layout-row {
    display: table-row;
    height: auto;
}
.layout-fill-height {
    height: 100%;
    .layout-cell {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.layout-static-height {
    height: 30px;
}
.layout-cell {
    width: 100%;
    height: 100%;
}

.chat-message-composition {
    margin-top: 15px;
    textarea, button {
        resize: none;
        height: 60px;
    }
}

@mixin bubble-arrow($width, $height, $color, $border-color) {
    &:before, &:after {
        content: "";
        position: absolute;
        top: 16px;
        display: block;
        box-sizing: content-box;
        border-style: none;
        width: 0;
        height: 0;
    }
    &:before {
        border-color: $border-color;
        border-width: $width + 1px;
        border-top: 1px + $height / 2 solid transparent;
        border-bottom: 1px + $height / 2 solid transparent;
        margin-top: -1px;
    }
    &:after {
        border-color: $color;
        border-width: $width;
        border-top: $height / 2 solid transparent;
        border-bottom: $height / 2 solid transparent;
    }
}
@mixin bubble-arrow-left($width, $height, $color, $border-color) {
    @include bubble-arrow($width, $height, $color, $border-color);
    &:before, &:after {
        border-right-style: solid;
        left: auto;
    }
    &:before {
        right: 100%;
    }
    &:after {
        right: 100%;
    }
}
@mixin bubble-arrow-right($width, $height, $color, $border-color) {
    @include bubble-arrow($width, $height, $color, $border-color);
    &:before, &:after {
        border-left-style: solid;
        right: auto;
    }
    &:before {
        left: 100%;
    }
    &:after {
        left: 100%;
    }
}

.chat-log-entry {
    $color-1: #fff;
    $color-2: #eef2ff;
    margin: 0px 11px 8px;
    .chat-log-message {
        position: relative;
        background: $color-1;
        border: 1px solid darken($color-1, 25%);
        padding: 8px 12px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        margin: 0 64px 0 0;
        @include bubble-arrow-right(10px, 16px, $color-1, darken($color-1, 30%));
    }

    .avatar {
        @include square(48px);
        float: right;
        border-radius: 4px;
        -webkit-border-radius: 4px;
    }

    &.chat-log-entry-visitor {
        .chat-log-message {
            margin: 0 0 0 11px;
            background-color: $color-2;
            border-color: darken($color-2, 10%);
            @include bubble-arrow-left(10px, 16px, $color-2, darken($color-2, 15%));
        }
    }
    p {
        margin: 0;
    }
}

.toggleable {
    $bg-on: #3a3;
    $bg-off: #966;
    $color-on: #fff;
    $color-off: #ccc;
    $outer-height: 42px;
    $spacing: 3px;
    $inner-height: $outer-height - $spacing * 2;
    $width: $inner-height * 2.9;
    $transition-duration: 150ms;

    .navbar & {
        margin: ($navbar-height - $inner-height) / 2;
    }

    height: $inner-height;
    display: inline-block;
    width: $width;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: floor($inner-height * 0.45);
    cursor: pointer;

    .toggleable-handle {
        width: $outer-height;
        height: $outer-height;
        background: white;
        display: block;
        border-radius: $outer-height / 2;
        position: absolute;
        left: -$spacing;
        top: -$spacing;
        box-shadow: 0px 1px 6px rgba(black, 0.3);
        border: 1px solid #ddd;
        @include toggleable-vertical-gradient(#ddd, 15%);
        transition: transform $transition-duration ease;
        -webkit-transition: -webkit-transform $transition-duration ease;
    }
    .toggleable-bg {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: $inner-height / 2;
        @include toggleable-vertical-gradient($bg-off, -5%);
        box-shadow: inset 2px 2px 2px rgba(black, 0.3);
    }
    .toggleable-label {
        height: 100%;
        line-height: $inner-height;
        text-align: center;
        color: $color-off;
        text-shadow: 0px 1px 2px rgba(black, 0.8);
    }
    .toggleable-label-on {
        display: none;
        padding: 0 $inner-height + $spacing 0 $inner-height * 0.15;
    }
    .toggleable-label-off {
        display: block;
        padding: 0 $inner-height * 0.15 0 $inner-height + $spacing;
    }
    &.toggleable-on {
        .toggleable-bg {
            @include toggleable-vertical-gradient($bg-on, -5%);
        }
        .toggleable-handle {
            transform: translate($width - $inner-height, 0);
            -webkit-transform: translate($width - $inner-height, 0);
        }
        .toggleable-label {
            color: $color-on;
        }
        .toggleable-label-on {
            display: block;
        }
        .toggleable-label-off {
            display: none;
        }
    }
}

$virtual-keyboard-size: 200px;
#virtual-keyboard {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #ccc;
    padding: 50px;
    text-align: center;
    color: #666;
    font-size: 1.4em;
    height: $virtual-keyboard-size;
    z-index: 2;
}
body > * {
    transition: transform 150ms;
    -webkit-transition: -webkit-transform 150ms;
}
body.show-virtual-keyboard > * {
    transform: translate(0, -$virtual-keyboard-size);
    -webkit-transform: translate(0, -$virtual-keyboard-size);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

@-webkit-keyframes pulse-animation {
    20% { -webkit-transform: scale(1); }
    35% { -webkit-transform: scale(0.99); }
    50% { -webkit-transform: scale(1.08); }
    65% { -webkit-transform: scale(0.99); }
    80% { -webkit-transform: scale(1); }
}
@keyframes pulse-animation {
    20% { transform: scale(1); }
    35% { transform: scale(0.99); }
    50% { transform: scale(1.08); }
    65% { transform: scale(0.99); }
    80% { transform: scale(1); }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
