$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/**
 * Overridden Bootstrap variables
 */
$body-bg: #f5f5f5;

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

body {
    overflow: hidden;
}

.giosg-logo {
    max-width: 95%;
    margin: 20px auto;
}

.btn-lg-circle {
    $border-size: 8px;
    display: block;
    width: 200px;
    height: 200px;
    margin: 24px auto;
    font-size: 38px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border-width: $border-size;
    position: relative;

    &.numeric {
        font-size: 60px;
    }

    .btn-badge {
        $size: 80px;
        font-size: 38px;
        font-weight: bold;
        background: $brand-danger;
        border: $border-size solid darken($brand-danger, 10%);
        width: $size;
        height: $size;
        line-height: $size - $border-size * 2;
        display: block;
        position: absolute;
        right: -16px;
        top: -16px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: -2px 2px 6px rgba(0,0,0,0.15);
    }
    &:hover {
        .btn-badge {
            background: darken($brand-danger, 5%);
            border: $border-size solid darken($brand-danger, 15%);
        }
    }
}

.navbar {
    .back-icon {
        font-size: 75%;
        margin-right: 0.3em;
    }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
